.credits {
    font-family:'Georgia',serif;
    font-weight: bold;
  }

.input {
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(29, 37, 1) ;
    border-radius: 3px;

}

.submit {
    color: rgb(42, 187, 17);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.submit:hover{
    color:rgb(251, 10, 163) ;
    background-color: black;
}
